<div class="nk-footer">
  <div class="container-fluid">
    <div class="nk-footer-wrap">
      <div class="nk-footer-copyright"> &copy;Foot Forward </div>

    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- Import jQuery from a CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/assets/js/bundlee5ca.js?ver=3.2.3"></script>
<!-- <script src="/static/assets/js/scriptse5ca.js?ver=3.2.3"></script> -->
<!-- <script src="/static/assets/js/demo-settingse5ca.js?ver=3.2.3"></script> -->
<!-- <script src="/static/assets/js/charts/chart-ecommercee5ca.js?ver=3.2.3"></script> -->
<!-- JavaScript for Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>




<!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->
<script src="/static/assets/js/productAttributes/brandNames.js"></script>
<script src="/static/assets/js/productAttributes/categoryNames.js"> </script>
<script src="/static/assets/js/productAttributes/sizeNames.js"></script>
<script src="/static/assets/js/productAttributes/colorName.js"></script>
<!-- <script src="/static/assets/js/productAttributes/varientsPage.js"></script> -->

<!-- Updated jQuery code for populating dropdowns -->


 











</body>
<!-- Mirrored from dashlite.net/demo2/ecommerce/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Oct 2023 14:32:19 GMT -->

</html>