.center_sign{
    display: flex;
    justify-content: space-around;
}

.rounded_button{
    background: #7520dd;
    border-radius: 0.25rem;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}
.color-square {
    width: 70%;
    height: 70%;
    border-radius: 25px;
}

.color-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Example size */
    height: 30px; /* Example size */
    border-radius: 50%; /* This makes it round */
    margin: 5px; /* Add some space around the circles */
  }
  
  .color-circle .fa-check {
    color: white; /* You might want to change the icon color */
  }
  .add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Example background color */
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-button svg {
    margin-right: 8px; /* Adds space between the icon and text */
  }
  
  .add-to-cart-button:hover {
    background-color: #e0e0e0; /* Slightly darker on hover for visual feedback */
  }

  .heart-icon {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    cursor: pointer;
  }
  
  .heart-icon svg {
    stroke: #ff0000; /* Red stroke */
    fill: transparent; /* No fill initially */
    transition: fill 0.2s ease;
  }
  
  .heart-icon.active svg {
    fill: #ff0000; /* Red fill for the active state */
  }
  
  