.center_sign{
    display: flex;
    justify-content: space-around;
}

.rounded_button{
    background: #7520dd;
    border-radius: 0.25rem;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}
.color-square {
    width: 70%;
    height: 70%;
    border-radius: 25px;
}